/* Dom here, just a quick practice, I wanted a nice full viewport background, great article here: http://sixrevisions.com/css/responsive-background-image */

body {
/*
		background-image: url('/img/pexels-photo-219004.jpeg');
	background: url(/img/pexels-photo-365015.jpeg) no-repeat center center fixed; 
	background-size: cover;
*/
	font-family: Open Sans, Calibri, sans-serif;
	font-weight: 300;
}

.container {
	width: 430px;
	margin: 0 auto;
	padding: 100px;
}

h1 {
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-size: 60px;
	line-height: 55px;
	color: #373f51;
	margin-bottom: 50px;
}

.container p {
	font-size: 16px;
	color: #58a4b0;
	margin-bottom: 100px;
}

.quote-button {
	display: block;
	text-decoration: none;
	padding: 12px 0;
	color: #373f51;
	background-color: #d8dbe2;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

.quote-container blockquote {
	display: none;
	padding: 40px;
	background-color: #58a4b0;
	color: #fff;
	font-size: 24px;
	font-style: italic;
}
